.box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  
  .box div {
    width: 100px;
    height: 100px;
  }
  .btn-primary {
    background-color: #43484d;
    color: fff;
    border-color: #285e8e;
    
    border-radius: 25px;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active    {
    background-color:rgb(11, 72, 90);
    color: #FFF;
    border-color: #43484d;
}
.lato{
    font-family: 'Lato', sans-serif;
    color: #FFF;
}
.darkText{
    color: #000;
}